<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Суши</title>
</head>
<body>
    <div class="page">
        <header></header>
        <section>
            {% for product in products %}
            <div class="product">
                <h1>{{ product.name }}</h1>
                <p>{{ product.description }}</p>
                <p>{{ product.price }}</p>
            </div>
            {% endfor %}
        </section>
        <footer></footer>
    </div>
</body>
</html>