<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Суши</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <div class="inside-header">
            <div class="title">
                SUSHI-BOOBA(BETA)
            </div>
            <div class="login">
                <a href="/pages/register">Войти</a>
            </div>
        </div>
    </header>
    <section>
        <div class="category">
            <ul>
                <li><a href="/pages/products">Все</a></li>
                {% for category in categories %}
                <li><a href="/pages/products?category_id={{category.id}}">{{category.name}}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="grid-products">
            {% for product in products %}
            <div class="product">
                <div class="card-image">
                    <a href="/pages/products/{{ product.id }}"><img src="/static/images/{{product.id}}.webp" alt=""></a>
                </div>
                <div class="card-description">
                    <div class="card-title">
                        {{ product.name }}
                    </div>
                    <div class="card-ingredients">
                        {{ product.description }}
                    </div>
                    <div class="weight-price">
                        <div class="card-price">
                            {{ product.price }}&#8381;
                        </div>
                        <div class="card-weigh">
                            {{ product.weight }} гр.
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</body>
</html>